<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<br>
	<center>
		<h2>Welcome to {{PoS_node.name}}</h2>
	{% if PoS_node.type == 'c'%}
		<h3>Cash Card PoS</h3>
	{% else %}
		<h3>Retail PoS</h3>
	{% endif %}
	<a href="/PoS/{{PoS_node.name}}/mine"><button>Request to mine</button></a>
	<a href="/PoS/{{PoS_node.name}}/chain" target="_blank"><button>Get Blockchain</button></a>
	<a href="/PoS/{{PoS_node.name}}/pending_tx" target="_blank"><button>Get Pending transactions</button></a>
	</center>

	<div class="row">
			<div class="column">
				<div class="card">
					<h3>Check Balance</h3>
					<form action="/PoS/{{PoS_node.name}}/balance" id="textform" method="post">
						<label for="card_no">Card Number:</label>
						<input type="text" id="card_no" name="card_no">
						<input type="submit" value="Show">
					</form>
				</div>
			</div>
			<div class="column">
				<div class="card">
					<h3>Purchase Items</h3>
					<form action="/PoS/{{PoS_node.name}}/buy" id="textform" method="post">
						<label for="card_no">Card Number:</label>
						<input type="text" id="card_no" name="card_no">
						<label for="amount">Item Price:</label>
						<input type="text" id="amount" name="amount">
						<input type="submit" value="Buy">
					</form>
				</div>
			</div>
	</div>

{% endblock %}
